html {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow: hidden;

    --hol-col: 95, 230, 228;
    --icon-size: 350px;
}

.header {
    padding-bottom: 150px;
}

.title {
    margin: 0;

    --color1: #86e5ef;
    --color2: var(--blue-bright);

    text-align: center;
    font-size: var(--title-fz);
    color: var(--color1);
    text-shadow:
        0 0 60px var(--color2),
        0 0 150px var(--color2),
        0 0 10px var(--color1);

    transition: text-shadow ease .2s, color ease .2s;
    will-change: text-shadow;
}

.header-download .title {
    --color1: var(--logo-col);
    --color2: var(--logo-shadow);
}

.list,
.item {
    margin: 0;
    padding: 0;

    list-style: none;
}

.list {
    position: relative;

    padding-bottom: 200px;
    margin: 0 auto;
    height: var(--icon-size);
    width: var(--icon-size);
}

.item {
    position: absolute;

    margin: 0 auto;
    top: 0;
    left: 0;

    width: var(--icon-size);
    height: var(--icon-size);

    opacity: 0;
    transform: translateX(1000px) scale(.1);

    transition: transform ease .6s, opacity ease .4s;
}

.item-active {
    opacity: 1;
    transform: none;
}

.item-disactive {
    position: absolute;

    opacity: 0;
    transform: translateX(-1000px) scale(.1);
}

/* // navbar // */

.nav {
    position: absolute;

    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.nav__list,
.nav__item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__click {
    --color1: #86e5ef;
    --color2: var(--blue-bright);
    font-size: 36px;
    line-height: 1.6;
    text-decoration: none;
    color: var(--color1);
    text-shadow:
        0 0 10px var(--color2),
        0 0 30px var(--color2),
        0 0 100px var(--color2),
        0 0 100px var(--color2),
        0 0 5px var(--color1);
}

.nav__click-active {
    --color1: var(--logo-col);
    --color2: var(--logo-shadow);
}

/* // holograph // */

.header-download {
    --hol-col: 254, 209, 40;
}

.holograph {
    position: relative;
    z-index: 2;

    width: 440px;
    height: 10px;
    margin: -20px auto 0;

    /* background-color: rgba(var(--hol-col), .35); */
    filter: blur(3px);
    box-shadow:
        0 -4px 6px rgba(var(--hol-col), .5),
        0 -25px 25px rgba(var(--hol-col), .75),
        0 -45px 35px rgba(var(--hol-col), .95),
        0 -75px 50px rgba(var(--hol-col), 1);

    transform: perspective(100px) translateZ(0) rotateZ(180deg) rotateX(-26deg);
    transition: box-shadow ease .2s;
    will-change: box-shadow;
}

.holograph:after {
    content: "";
    position: absolute;

    left: 0px;
    right: 0px;
    height: 10px;
    border-radius: 100%;

    background-color: transparent;
    transform: perspective(100px) translateZ(0);
    animation: holographic 2s infinite ease-out;
    /* filter: blur(3px); */
    transition: box-shadow ease .2s;
    will-change: box-shadow;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}
@keyframes holographic {
    0% {
        box-shadow:
            0 -1px 2px rgba(var(--hol-col), .2),
            0 -1px 2px rgba(var(--hol-col), .2);
    }
    5% {
        box-shadow:
            0 0 30px rgba(var(--hol-col), .3),
            0 0 30px rgba(var(--hol-col), .3);
    }
    100% {
        box-shadow:
            0 -100px 5px rgba(var(--hol-col), 0),
            0 -60px 5px rgba(var(--hol-col), 0);
    }
}

/* // planet // */

.planet {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    animation: float 2.5s infinite;
    perspective: 900px;
    transform-style: preserve-3d;
}

.list__image {
    position: absolute;
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 20px rgb(var(--hol-col)));
}

/* // rings // */
@keyframes spin {
    100% {
        transform: rotateY(-360deg);
    }
}

.ring_wrap {
    position: relative;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    animation: spin 60s linear infinite;
}

.ring {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px dotted rgb(var(--hol-col));
    box-shadow:
        inset 0 0 20px rgb(var(--hol-col)),
        0 0 20px rgb(var(--hol-col));
    border-radius: 50%;

    transition: border-color ease .2s, box-shadow ease .2s;
    will-change: box-shadow;
}

.planet:hover .ring {
    border-color: var(--logo-col);
    box-shadow:
        inset 0 0 50px var(--logo-col),
        0 0 50px var(--logo-col);
}

.ring:nth-child(1) {
    transform: rotateX(70deg) scale(2.2);
}

.ring:nth-child(2) {
    transform: rotateX(70deg) scale(2.1);
    border-style: solid;
}

.ring:nth-child(3) {
    transform: rotateX(70deg) scale(2);
    border-style: dashed;
}

.ring:nth-child(4) {
    transform: rotateX(70deg) scale(1.9);
}

.ring:nth-child(5) {
    transform: rotateX(70deg) scale(1.8);
    border-style: dashed;
}

.ring:nth-child(6) {
    transform: rotateX(70deg) scale(1.7);
    border-style: solid;
}

.ring:nth-child(7) {
    transform: rotateX(70deg) scale(1.6);
}
