html {
    position: relative;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
    background-image: url('../images/stars.png'), url('../images/Galaxy4.png');
    background-position: left top, right 300px bottom 20px;
    background-repeat: repeat, no-repeat;
    background-size: cover, 400px 300px;
}

.galaxy {
    position: absolute;

    background-image: url('../images/Galaxy1.png');
    background-size: cover;

    top: 140px;
    left: 200px;
    width: 300px;
    height: 300px;

    animation: galaxyRotate 200s linear infinite;
}

@keyframes galaxyRotate {
    to {
        transform: rotateZ(360deg);
    }
}

:root {
    --hol-col: 95, 230, 228;
    --icon-size: 350px;
    --text-fz: 36px;
    --text-lh: 1.6;
}

.header {
    padding-bottom: 150px;
}

.title {
    margin: 0;

    --color1: #86e5ef;
    --color2: var(--blue-bright);

    text-align: center;
    font-size: var(--title-fz);
    color: var(--color1);
    text-shadow:
        0 0 60px var(--color2),
        0 0 150px var(--color2),
        0 0 10px var(--color1);

    transition: text-shadow linear .1s .06s, color linear .1s .06s;
    will-change: text-shadow;
}

.header-download .title {
    --color1: var(--logo-col);
    --color2: var(--logo-shadow);
}

.list,
.item {
    margin: 0;
    padding: 0;

    list-style: none;
}

.list {
    position: relative;

    padding-bottom: 200px;
    margin: 0 auto;
    height: var(--icon-size);
    width: var(--icon-size);
}

.item {
    position: absolute;
    z-index: -1;

    margin: 0 auto;
    top: 0;
    left: 0;

    width: var(--icon-size);
    height: var(--icon-size);

    transform: translateX(1000px) scale(.1);

    transition: transform ease .6s, opacity ease .4s;
}

.item-active {
    opacity: 1;
    z-index: 1;
    transform: none;
}

.item-disactive {
    position: absolute;

    opacity: 0;
    transform: translateX(-1000px) scale(.1);
}

/* // navbar // */

.nav {
    position: absolute;
    z-index: 2;

    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.nav__list,
.nav__item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__click {
    --color1: #86e5ef;
    --color2: var(--blue-bright);

    font-size: var(--text-fz);
    /* font-family: Godsownjunkyard; */
    line-height: var(--text-lh);
    text-decoration: none;
    color: var(--color1);
    text-shadow:
        0 0 10px var(--color2),
        0 0 30px var(--color2),
        0 0 100px var(--color2),
        0 0 100px var(--color2),
        0 0 5px var(--color1);

    transform: translateZ(0);
}

.nav__click-active {
    --color1: var(--logo-col);
    --color2: var(--logo-shadow);
}

/* // holograph // */

.header-download {
    --hol-col: 254, 209, 40;
}

.holograph {
    position: absolute;

    bottom: -10px;
    left: 50%;
    width: 440px;
    height: 10px;

    -webkit-filter: blur(3px);
    filter: blur(3px);
    box-shadow:
        0 -4px 6px rgba(var(--hol-col), .5),
        0 -25px 25px rgba(var(--hol-col), .75),
        0 -45px 35px rgba(var(--hol-col), .95),
        0 -75px 50px rgba(var(--hol-col), 1);

    transform: translateX(-50%) perspective(100px) translateZ(0) rotateX(-26deg);
    transition: box-shadow ease-in-out .1s;
    backface-visibility: hidden;
    will-change: box-shadow;
}

.holograph::after {
    content: "";
    position: absolute;

    left: 0px;
    right: 0px;
    height: 10px;
    border-radius: 100%;

    background-color: transparent;
    transform: perspective(100px) translateZ(0);
    animation: holographic 2s infinite ease-out;
    transition: box-shadow ease .1s;
    backface-visibility: hidden;
    will-change: box-shadow;
}

.weakPerf .holograph::after {
    display: none;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px) translateZ(0);
    }
    50% {
        transform: translateY(10px) translateZ(0);
    }
}
@keyframes holographic {
    0% {
        box-shadow:
            0 -1px 2px rgba(var(--hol-col), .2),
            0 -1px 2px rgba(var(--hol-col), .2);
    }
    5% {
        box-shadow:
            0 0 30px rgba(var(--hol-col), .3),
            0 0 30px rgba(var(--hol-col), .3);
    }
    100% {
        box-shadow:
            0 -100px 5px rgba(var(--hol-col), 0),
            0 -60px 5px rgba(var(--hol-col), 0);
    }
}

/* // planet // */

.planet {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    animation: float 2.5s infinite;
    perspective: 900px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.weakPerf .planet {
    animation: none;
}

.list__image {
    position: absolute;
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-filter: drop-shadow(0 0 20px rgb(var(--hol-col)));
    filter: drop-shadow(0 0 20px rgb(var(--hol-col)));
}

.placeholder {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.placeholder__text {
    --color1: #86e5ef;
    --color2: var(--blue-bright);

    font-size: 30px;
    color: var(--color1);
    text-shadow:
        0 0 10px var(--color2),
        0 0 30px var(--color2),
        0 0 100px var(--color2),
        0 0 100px var(--color2),
        0 0 5px var(--color1);

    transform: translateZ(0);

    transition: color ease .2s;
}

@media (hover: hover) {
    .planet:hover .placeholder__text {
        --color1: var(--logo-col);
        --color2: var(--logo-shadow);
    }
}

/* // rings // */

.ring_spin {
    position: relative;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateY(-10deg);
    animation: spin 60s linear infinite;
}

.weakPerf .ring_spin {
    animation: none;
}

@keyframes spin {
    100% {
        transform: rotateX(70deg) rotateY(-10deg) rotateZ(-360deg);
    }
}

.ring_wrap {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2);

    transition: opacity ease-in-out .1s .05s;
}

.ring_wrap-hover {
    opacity: 0;
    z-index: -1;
}

.ring_wrap-hover .ring {
    border-color: var(--logo-col);
}

.ring_wrap-hover .ring:nth-child(2n + 1)  {
    box-shadow:
        inset 0 0 40px var(--logo-col),
        0 0 40px var(--logo-col);
}

.ring {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 3px dotted rgb(var(--hol-col));
    border-radius: 50%;
}

.ring:nth-child(2n + 1) {
    box-shadow:
        inset 0 0 20px rgb(var(--hol-col)),
        0 0 20px rgb(var(--hol-col));
}

.weakPerf .list .ring {
    box-shadow: none;
}

@media (hover: hover) {
    .planet:hover .ring_wrap {
        opacity: 0;
        z-index: -1;
    }

    .planet:hover .ring_wrap-hover {
        opacity: 1;
        z-index: 1;
    }
}

.ring:nth-child(1) {
    transform: scale(1.1);
}

.ring:nth-child(2) {
    transform: scale(1.05);
    border-style: solid;
}

.ring:nth-child(3) {
    transform: none;
    border-style: dashed;
}

.ring:nth-child(4) {
    transform: scale(.95);
}

.ring:nth-child(5) {
    transform: scale(.9);
    border-style: dashed;
}

.ring:nth-child(6) {
    transform: scale(.85);
    border-style: solid;
}

.ring:nth-child(7) {
    transform: scale(.8);
}

.ring_spin-type2 {
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateY(20deg);
    animation: spin2 40s linear infinite;
}

@keyframes spin2 {
    100% {
        transform: rotateX(80deg) rotateY(20deg) rotateZ(-360deg);
    }
}

.ring_spin-type2 .ring:nth-child(1) {
    transform: scale(.7);
}

.ring_spin-type2 .ring:nth-child(2) {
    transform: scale(.75);
    border-style: dashed;
}

.ring_spin-type2 .ring:nth-child(3) {
    transform: scale(.8);
    border-style: dotted;
}

.ring_spin-type3 {
    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateY(-30deg);
    animation: spin4 60s linear infinite;
}

@keyframes spin4 {
    100% {
        transform: rotateX(70deg) rotateY(-30deg) rotateZ(-360deg);
    }
}

.ring_spin-type3 .ring:nth-child(4) {
    display: none;
}

.ring_spin-type3 .ring:nth-child(5) {
    --scale: scale(.6);
    transform: var(--scale);
    animation: spin3 30s linear infinite;
}

.ring_spin-type3 .ring:nth-child(6) {
    --scale: scale(.65);
    transform: var(--scale);
    border-style: dashed;
    animation: spin3 30s linear infinite;
}

.ring_spin-type3 .ring:nth-child(7) {
    --scale: scale(.7);
    transform: var(--scale);
    animation: spin3 30s linear infinite;
}

@keyframes spin3 {
    100% {
        transform: var(--scale) rotateZ(-360deg);
    }
}

.weakPerf .ring_spin-type3 .ring {
    animation: none;
}

/* // exit // */

.exit__outer {
    --color1: #86e5ef;
    --color2: var(--blue-bright);

    position: absolute;
    display: block;

    top: 20px;
    right: 20px;
    width: 160px;
    height: 110px;

    -webkit-filter: drop-shadow(0 0 10px var(--color2));
    filter: drop-shadow(0 0 10px var(--color2));
}

@media (hover: hover) {
    .exit__outer:hover {
        --color1: var(--logo-col);
        --color2: var(--logo-shadow);
    }
}

.exit {
    height: 100%;

    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: var(--color1);
}

.exit__wrap {
    position: absolute;

    top: 4px;
    left: 4px;
    width: calc(100% - 4px);
    height: calc(100% - 8px);

    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: var(--bg-color);

    box-shadow:
        inset 0 0 10px var(--color2),
        inset 0 0 5px var(--color2);
}

.exit__text {
    position: absolute;

    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    text-transform: uppercase;
    font-family: Godsownjunkyard;
    font-size: 52px;
    color: var(--color1);
    text-shadow:
        0 0 20px var(--color2),
        0 0 40px var(--color2),
        0 0 5px var(--color1);
}

@media screen and (min-width: 1920px) {
    body {
        position: relative;

        width: 100%;
        max-width: 1920px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-height: 869px) and (min-width: 1024px) {
    :root {
        --title-fz: 50px;
        --text-fz: 28px;
        --text-lh: 1.7;
        --icon-size: 300px;
    }

    .exit__outer {
        width: 120px;
        height: 90px;
    }

    .exit__text {
        font-size: 40px;
    }

    .list {
        padding-bottom: 100px;
    }

    .header {
        padding-bottom: 100px;
    }
}

@media screen and (max-height: 670px) and (min-width: 1024px) {
    :root {
        --title-fz: 40px;
        --text-fz: 24px;
        --text-lh: 1.7;
        --icon-size: 200px;
    }

    body {
        background-position: left top, right 200px bottom 100px;
        background-size: cover, 200px 150px;
    }

    .galaxy {
        width: 250px;
        height: 250px;
    }

    .holograph {
        width: calc(50px + var(--icon-size));
    }

    .exit__outer {
        width: 100px;
        height: 70px;
        top: 10px;
        right: 10px;
    }

    .exit__text {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --title-fz: 44px;
        --text-fz: 28px;
        --text-lh: 1.9;
        --icon-size: 250px;
    }

    body {
        background-position: left top, right 5% bottom 10px;
        background-size: cover, 300px 220px;
    }

    .galaxy {
        top: 80px;
        left: 50px;
        width: 200px;
        height: 200px;
    }

    .nav {
        position: relative;

        padding: 30px 0;
        left: auto;
        top: auto;

        text-align: center;
    }

    .exit__outer {
        width: 100px;
        height: 70px;
        top: 10px;
        right: 10px;
    }

    .exit__text {
        font-size: 30px;
    }

    .ring_wrap {
        transform: scale(2.2);
    }
}

@media screen and (max-width: 767px) {
    :root {
        --title-fz: 30px;
        --text-fz: 20px;
        --text-lh: 2;
        --icon-size: 120px;
    }

    body {
        background-position: left top, right 10px bottom 100px;
        background-size: cover, 100px 80px;
    }

    section {
        z-index: 2;
    }

    .galaxy {
        top: 30px;
        left: 10px;
        width: 150px;
        height: 150px;
    }

    .planet {
        perspective: 400px;
    }

    .nav {
        padding: 0 0 30px;
        transform: none;
    }

    .holograph {
        width: calc(50px + var(--icon-size));
    }

    .header {
        padding-bottom: 30px;
    }

    .list {
        padding-bottom: 0;
    }

    .placeholder__text {
        font-size: 20px;
    }

    .ring_spin-type3 .ring:nth-child(5) {
        animation: none;
    }

    .ring_spin-type3 .ring:nth-child(6) {
        animation: none;
    }

    .ring_spin-type3 .ring:nth-child(7) {
        animation: none;
    }
}

@media screen and (max-height: 500px) and (max-width: 1024px) {
    html, body {
        height: 500px;
        overflow: auto;
    }
}
