:root {
    --skew-height-1: calc(100vw * 0.06993);
    --def-trs: all ease .3s;
    --neon-trs-1: color ease .3s, text-shadow ease .2s, box-shadow ease .2s;

    --title-fz: 80px;
    --title-fz-sec: 44px;
    --text-fz: 22px;

    --game-width: 800px;
    --cell-side: 100px;
    --cell-margin: 24px;

    --blue-glitch: #2fd9ea;
    --violet-glitch: #62028a;
    --pink-glitch: #8a0273;
    --pink-glitch-dark: #84036e;
    --aqua-glitch: #048282;
    --green-glitch: #296b0e;
    --brigth-gray: #a29ea1;
    --violet-good: #9e638f;

    -webkit-tap-highlight-color: transparent;
    color: var(--text-col);
}

*::selection {
    background: var(--shadow-col-1);
}

.skewed {
    position: absolute;
    z-index: 1;

    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: var(--skew-height-1);

    background: var(--bg-color);

    transform: skewY(4deg);
    transform-origin: top right;
}

.title {
    padding: calc(var(--skew-height-1) - 20px) 0 50px;
    margin: 0;

    text-align: center;
    font-size: var(--title-fz);

    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3);
    will-change: filter, color;
    filter: saturate(60%);
}

.title-black {
    --color1: #000;
    --color2: gray;
    --color3: #141414;
    --color4: #181818;
}

.title-yellow {
    color: var(--logo-col);
    text-shadow:
        0 0 1vw var(--logo-shadow),
        0 0 3vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 .4vw var(--logo-col);
}

.game__title {
    display: inline-block;
    padding: 0;

    font-size: var(--title-fz-sec);
}

.glitch_wrap {
    display: inline-block;
}

.glitch_text {
    --color1: red;
    --color2: #f37070;
    --color3: #ff6464;
    --color4: #ff00cb;

    color: var(--color1);
    font-family: Godsownjunkyard;
    text-decoration: none;
    text-shadow:
        0 0 2px var(--color1),
        0 0 5px var(--color1),
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);

    transition: var(--neon-trs-1);
}

.neon_border {
    padding: 20px;
    border-radius: 20px;

    --neon-border-col: red;

    border: 1px solid var(--neon-border-col);
    box-shadow:
        0 0 2px var(--neon-border-col),
        0 0 5px var(--neon-border-col),
        0 0 10px var(--neon-border-col),
        0 0 10px var(--neon-border-col),
        0 0 2px var(--neon-border-col),
        inset 0 0 2px var(--neon-border-col),
        inset 0 0 5px var(--neon-border-col),
        inset 0 0 10px var(--neon-border-col),
        inset 0 0 10px var(--shadow-col-1),
        inset 0 0 2px var(--neon-border-col);

    transition: var(--neon-trs-1);
}

.success .neon_border {
    --neon-border-col: #008014;
    --shadow-col-1: #00a978;
}

.success .glitch_text {
    --color1: #008014;
    --color2: #50cc50;
    --color3: #00b700;
    --color4: #00a978;
}

/* // game // */

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    text-align: center;
    overflow: hidden;

    background-color: var(--logo-col);
    color: var(--bg-color);
}

.game-overlay {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    top: 0;
    left: -100px;
    right: -100px;
    height: 100%;
}

@keyframes gameSectionGlitch {
    0%, 8%, 32%, 59%, 68%, 77%, 100% {
        clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
        background-color: var(--pink-glitch-dark);
        opacity: 0;
        transform: none;
    }
    10%, 30%, 48%, 58%, 69%, 76% {
        opacity: 1;
    }
    20% {
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate(10px, -8px);
    }
    25% {
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate(140px, -28px);
    }
    28% {
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate(-30px, -5px);
    }
    50% {
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        transform: translate(50px, -8px);
    }
    53% {
        transform: translate(70px, -15px);
    }
    56% {
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        transform: translate(-60px, -100px);
    }
    70%, 75% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 51%, 0 49%, 0 20%, 100% 31%, 100% 10%);
        clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
        transform: translate(-30px, -5px);
        background-color: var(--blue-glitch);
    }
    71% {
        transform: translate(-10px, 5px);
    }
    72% {
        transform: translate(-40px, 8px);
    }
    73% {
        transform: translate(10px, 5px);
    }
    74% {
        transform: translate(-10px, 20px);
    }
}

@keyframes gameSectionBg {
    13%, 74% {
        opacity: 1;
        background-color: var(--pink-glitch);
    }
    12%, 75% {
        opacity: 0;
    }
}

@keyframes gameSectionGlitch2 {
    0%, 32%, 39%, 56%, 68%, 92% {
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        background-color: var(--pink-glitch-dark);
        opacity: 0;
        transform: none;
    }
    4%, 31%, 40%, 55%, 69%, 91% {
        opacity: 1;
    }
    39%, 56% {
        background-color: #58037b;
    }
    5%, 30% {
        clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
    }
    8% {
        transform: translate(100px, -8px);
    }
    10%, 42% {
        transform: translate(-100px, -20px);
    }
    18% {
        transform: translate(-100px, -20px);
    }
    20% {
        transform: translate(-50px, -40px);
    }
    26%, 46% {
        transform: translate(-50px, -20px);
    }
    28% {
        transform: translate(100px, -50px);
    }
    50% {
        transform: translate(90px, 50px);
    }
    53% {
        transform: translate(100px, 70px);
    }
    70%, 90% {
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate(10px, -8px);
        background-color: var(--logo-col);
    }
    75% {
        transform: translate(20px, -7px);
    }
    80% {
        transform: translate(-20px, -10px);
    }
    85% {
        transform: translate(10px, -7px);
    }
}

@keyframes gameSectionBg2 {
    5%, 85% {
        opacity: 1;
        background-color: var(--violet-glitch);
    }
    4%, 86% {
        opacity: 0;
    }
}

.anim-1 .game-overlay {
    animation: gameSectionGlitch 1.5s ease-out;
}

.anim-1 .game-overlay-1 {
    animation: gameSectionBg 1.5s ease-out;
}

.anim-2 .game-overlay {
    animation: gameSectionGlitch2 2s step-end;
}

.anim-2 .game-overlay-1 {
    animation: gameSectionBg2 2s step-end;
}

.game__field {
    margin: 80px auto 150px;
    width: var(--game-width);
}

.game__field::selection,
.game__field *::selection {
    background-color: transparent;
}

/* // cells // */

.game__cell_wrap {
    display: inline-block;

    filter: drop-shadow(0 0 10px var(--bg-color));
    transition: var(--def-trs);
    cursor: pointer;
}

@media (hover: hover) {
    .game__cell_wrap:hover,
    .game__cell_wrap-hover {
        filter: drop-shadow(0 0 22px var(--bg-color));
    }

    .game__cell_wrap:hover .game__cell,
    .game__cell_wrap-hover .game__cell {
        background-color: var(--aqua-glitch);
    }
}

.game__cell_wrap-wrong .game__cell,
.game__cell_wrap-wrong:hover .game__cell {
    background-color: var(--logo-shadow);
}

.game__cell_wrap-right .game__cell,
.game__cell_wrap-right:hover .game__cell {
    background-color: var(--green-glitch);
}

.game__cell_wrap-hide .game__cell,
.game__cell_wrap-hide:hover .game__cell {
    opacity: .1;
}

.game__cell {
    display: inline-block;

    width: var(--cell-side);
    height: var(--cell-side);
    margin: var(--cell-margin);

    background-color: var(--violet-good);
    transition: background-color .2s ease;

    clip-path: polygon(0% 0%, 12% 14%, 65% 14%, 76% 0, 100% 0%, 100% 83%, 83% 91%, 89% 100%, 0 100%, 0 73%, 11% 66%, 11% 41%, 0% 33%);
}

.game__cell-type1 {
    clip-path: polygon(0 0, 65% 0%, 73% 12%, 100% 12%, 100% 100%, 1% 100%, 11% 91%, 11% 57%, 0% 47%);
}

.game__cell-type2 {
    clip-path: polygon(0% 0%, 85% 0, 100% 17%, 100% 100%, 32% 100%, 25% 88%, 0% 88%);
}

.game__cell-type3 {
    clip-path: polygon(0 14%, 53% 14%, 60% 0, 100% 0%, 100% 22%, 90% 28%, 90% 59%, 100% 64%, 100% 100%, 0 100%);
}

.game__cell-type4 {
    clip-path: polygon(0% 0%, 38% 0, 43% 12%, 100% 12%, 100% 100%, 39% 100%, 34% 87%, 0 87%, 0% 63%, 13% 57%, 13% 57%, 13% 10%);
}

/* // //  */

.title__typing {
    animation: animatedCursor 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--bg-color);
}

@keyframes animatedCursor {
    0%, 30%, 70%, 100% {
        border-right-color: var(--bg-color);
    }
    50% {
        border-right-color: transparent;
    }
}

/* // about section // */

.about {
    color: var(--text-col);
}

.about .title__typing {
    animation: animatedCursorRed 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--logo-col);
}

@keyframes animatedCursorRed {
    0%, 30%, 70%, 100% {
        border-right-color: var(--logo-col);
    }
    50% {
        border-right-color: transparent;
    }
}

.about__wrap {
    width: 730px;
    margin: 0 auto 100px;

    font-size: var(--text-fz);
    line-height: 37px;
}

.about__highlight {
    font-weight: normal;
    color: var(--logo-col);
    text-shadow:
        0 0 1vw var(--logo-shadow),
        0 0 3vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 .4vw var(--logo-col);
}

.about__link {
    color: var(--violet-glitch);
    text-shadow: 0 5px 10px var(--pink-glitch-dark);
}

.about__item {
    padding: 0;
    margin: 0;
    list-style-type: katakana-iroha;
}

.glitch_hover_text {
    position: relative;
    z-index: 1;
}

@media (hover: hover) {
    .glitch_hover_text:before,
    .glitch_hover_text:after {
        content: attr(data-text);
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .glitch_hover_text:before {
        color: #00ffff;

        z-index: -1;
    }

    .glitch_hover_text:after {
        color: #ff00ff;

        z-index: -2;
    }

    .glitch_hover_text:hover:before {
        animation: glitchyText 0.3s ease 0.3s infinite;
    }

    .glitch_hover_text:hover:after {
        animation: glitchyText 0.3s ease infinite reverse;
    }
}

@keyframes glitchyText {
    0%   {
        transform: translate(-1px, 2px);
    }
    25%  {
        transform: translate(-2px, -1px);
    }
    50%  {
        transform: translate(1px, 3px);
    }
    75%  {
        transform: translate(2px, -1px);
    }
    100%  {
        transform: translate(-1px, 2px);
    }
}

/* // MEDIA QUERIES // */

@media screen and (min-width: 1920px) {
    body {
        width: 100%;
        max-width: 1920px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-height: 869px) and (min-width: 1024px) {
    /* // laptop 1 // */
    :root {
        --title-fz: 50px;
        --title-fz-sec: 28px;
        --text-fz: 20px;

        --game-width: 700px;
        --cell-side: 80px;
        --cell-margin: 20px;
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .about__wrap {
        width: 600px;
    }
}

@media screen and (max-height: 670px) and (min-width: 1024px) {
    /* // laptop 2 // */
    :root {
        --title-fz: 46px;
        --title-fz-sec: 24px;
        --text-fz: 18px

        --game-width: 500px;
        --cell-side: 60px;
        --cell-margin: 16px;
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .title {
        padding-bottom: 30px;
    }

    .game__title {
        padding: 14px;
    }
}

@media screen and (max-width: 1023px) {
    /* // tablets // */
    :root {
        --title-fz: 50px;
        --title-fz-sec: 28px;
        --text-fz: 18px;

        --game-width: 700px;
        --cell-side: 80px;
        --cell-margin: 20px;
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .about__wrap {
        width: 100%;
        padding: 0 40px;

        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    /* // phones 1 // */
    :root {
        --title-fz: 28px;
        --title-fz-sec: 20px;

        --game-width: 100%;
        --cell-side: 60px;
        --cell-margin: 20px;
    }

    .logo_section {
        display: block;
    }

    .logo_wrap {
        transform: scale(0.5) translate(-50%, -50%);
        transform-origin: left top;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .game__field {
        margin: 30px auto 10px;
    }

    .title {
        padding-bottom: 30px;
    }

    .game__title {
        padding: 14px;
    }

    .game__field {
        max-width: 400px;
    }

    .about {
        padding-top: 50px;
    }

    .about__wrap {
        padding: 0 20px;
    }

    .about__list {
        padding-left: 30px;
    }

    .about__text {
        margin: 0;
    }
}

@media screen and (max-width: 340px) {
    /* // phones 2 // */
    :root {
        --title-fz: 24px;
        --title-fz-sec: 18px;

        --cell-side: 50px;
        --cell-margin: 16px;
    }

    .logo_wrap {
        transform: scale(0.4) translate(-50%, -50%);
    }

    .title {
        padding-bottom: 24px;
    }

    .game__title {
        padding: 10px;
    }

    .game__field {
        max-width: 340px;
    }
}

@media screen and (max-height: 500px) and (max-width: 1024px) {
    /* // phones album //  */
    :root {
        --cell-side: 50px;
        --cell-margin: 18px;
    }

    .game {
        min-height: 450px;
    }

    .game__field {
        max-width: 500px;
        margin-bottom: 60px;
    }
}
