:root {
    --skew-height-1: calc(100vw * 0.06993);
    --neon-trs-1: color ease .3s, text-shadow ease .2s, box-shadow ease .2s;

    --game-width: 800px;
    --cell-side: 100px;
    --cell-margin: 24px;

    color: var(--text-col);
}

*::selection {
    background: var(--shadow-col-1);
}

.full_screen::-webkit-scrollbar {
    display: none;
}

.full_screen {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section_to_animate {
    height: auto;
}

.skewed {
    position: absolute;
    z-index: 1;

    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: var(--skew-height-1);

    background: var(--bg-color);

    transform: skewY(4deg);
    transform-origin: top right;
}

.skewed-opposite {
    transform: skewY(-4deg);
    transform-origin: top left;
}

.skewed-bottom_right {
    transform-origin: bottom right;
}

.skewed-bottom_left {
    transform-origin: bottom left;
}

.title {
    padding: calc(var(--skew-height-1) - 20px) 0 50px;
    margin: 0;

    text-align: center;
    font-size: var(--title-fz);

    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3);
    -webkit-filter: saturate(60%);
    filter: saturate(60%);
}

.title-black {
    --color1: #000;
    --color2: gray;
    --color3: #141414;
    --color4: #181818;
}

.title-yellow {
    color: var(--logo-col);
    text-shadow:
        0 0 1vw var(--logo-shadow),
        0 0 3vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 .4vw var(--logo-col);
}

.title-blue {
    color: var(--logo-col);
    text-shadow:
        0 0 1vw var(--logo-shadow),
        0 0 3vw var(--logo-shadow),
        0 0 .4vw var(--logo-col);
}

.game__title {
    display: inline-block;
    padding: 0;

    font-size: var(--title-fz-sec);
    font-family: Godsownjunkyard;
    color: var(--bg-col);
    text-shadow: 0 0 50px red, 0 0 10px var(--violet-good), 2px 2px 2px red;

    transition: var(--neon-trs-1);
}

.game__text {
    --color1: #ff0000;
    --color2: #ff3c3c;
    --color3: #ff2020;
    --color4: #ffffff;

    color: var(--color1);

    text-decoration: none;
    text-shadow:
        0 0 2px var(--color1),
        0 0 5px var(--color1),
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);

    transition: var(--neon-trs-1);
}

.neon_border {
    padding: 20px;
    border-radius: 20px;

    --neon-border-col: red;

    border: 1px solid var(--neon-border-col);
    box-shadow:
        0 0 2px var(--neon-border-col),
        0 0 5px var(--neon-border-col),
        0 0 10px var(--neon-border-col),
        0 0 10px var(--neon-border-col),
        0 0 2px var(--neon-border-col),
        inset 0 0 2px var(--neon-border-col),
        inset 0 0 5px var(--neon-border-col),
        inset 0 0 10px var(--neon-border-col),
        inset 0 0 10px var(--shadow-col-1),
        inset 0 0 2px var(--neon-border-col);

    transition: var(--neon-trs-1);
}

.success .neon_border {
    --neon-border-col: #008014;
    --shadow-col-1: #00a978;
}

.success .game__title {
    text-shadow: 0 0 50px var(--neon-border-col), 0 0 10px var(--violet-good), 2px 2px 2px var(--neon-border-col);
}

.success .game__text {
    --color1: #008014;
    --color2: #50cc50;
    --color3: #00b700;
    --color4: #00a978;
}

/* // game // */

.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    text-align: center;
    overflow: hidden;

    background-color: var(--logo-col);
    color: var(--bg-color);
}

.game__title-big {
    --stroke-color: var(--bg-color);
    color: var(--violet-good);
    text-shadow:
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 15px var(--stroke-color);
    -webkit-filter: none;
    filter: none;
}

/* .game-dark {
    background-color: var(--bg-color);
}

.game-dark .game__cell_wrap {
    --bg-color: var(--logo-col);
    --violet-good: var(--logo-col);
}

.game-dark .game__text {
    text-shadow: none;
}

.game-dark .skewed {
    opacity: 1;
    animation: none;
}

.game-dark .title {
    --color1: var(--cases-exp-col);
    --color2: var(--cases-exp-col);
    --color3: var(--cases-exp-col);
    --color4: #fff;
    color: var(--cases-exp-col);
}

.game-dark .title__typing {
    animation: animatedCursorPink 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--cases-exp-col);
} */

.game-overlay {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    top: 0;
    left: -100px;
    right: -100px;
    height: 100%;
}

@keyframes gameSectionGlitch {
    0%, 8%, 32%, 59%, 68%, 77%, 100% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
        clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
        background-color: var(--pink-glitch-dark);
        opacity: 0;
        transform: none;
    }
    10%, 30%, 48%, 58%, 69%, 76% {
        opacity: 1;
    }
    20% {
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate3d(10px, -8px, 0);
    }
    25% {
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate3d(140px, -28px, 0);
    }
    28% {
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate3d(-30px, -5px, 0);
    }
    50% {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        transform: translate3d(50px, -8px, 0);
    }
    53% {
        transform: translate3d(70px, -15px, 0);
    }
    56% {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        transform: translate3d(-60px, -100px, 0);
    }
    70%, 75% {
        -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
        clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
        transform: translate3d(-30px, -5px, 0);
        background-color: var(--blue-glitch);
    }
    71% {
        transform: translate3d(-10px, 5px, 0);
    }
    72% {
        transform: translate3d(-40px, 8px, 0);
    }
    73% {
        transform: translate3d(10px, 5px, 0);
    }
    74% {
        transform: translate3d(-10px, 20px, 0);
    }
}

@keyframes gameSectionBg {
    13%, 74% {
        opacity: 1;
        background-color: var(--pink-glitch);
    }
    12%, 75% {
        opacity: 0;
    }
}

@keyframes gameSectionGlitch2 {
    0%, 32%, 39%, 56%, 68%, 92% {
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        background-color: var(--pink-glitch-dark);
        opacity: 0;
        transform: none;
    }
    4%, 31%, 40%, 55%, 69%, 91% {
        opacity: 1;
    }
    39%, 56% {
        background-color: #58037b;
    }
    5%, 30% {
        -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
        clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
    }
    8% {
        transform: translate(100px, -8px);
    }
    10%, 42% {
        transform: translate(-100px, -20px);
    }
    18% {
        transform: translate(-100px, -20px);
    }
    20% {
        transform: translate(-50px, -40px);
    }
    26%, 46% {
        transform: translate(-50px, -20px);
    }
    28% {
        transform: translate(100px, -50px);
    }
    50% {
        transform: translate(90px, 50px);
    }
    53% {
        transform: translate(100px, 70px);
    }
    70%, 90% {
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        transform: translate(10px, -8px);
        background-color: var(--logo-col);
    }
    75% {
        transform: translate(20px, -7px);
    }
    80% {
        transform: translate(-20px, -10px);
    }
    85% {
        transform: translate(10px, -7px);
    }
}

@keyframes gameSectionBg2 {
    5%, 85% {
        opacity: 1;
        background-color: var(--violet-glitch);
    }
    4%, 86% {
        opacity: 0;
    }
}

.anim-1 .game-overlay {
    animation: gameSectionGlitch 1.5s ease-out;
}

.anim-1 .game-overlay-1 {
    animation: gameSectionBg 1.5s ease-out;
}

.anim-2 .game-overlay {
    animation: gameSectionGlitch2 2s step-end;
}

.anim-2 .game-overlay-1 {
    animation: gameSectionBg2 2s step-end;
}

.game__field {
    margin: 80px auto 150px;
    width: var(--game-width);
}

.game__field::selection,
.game__field *::selection {
    background-color: transparent;
}

/* // cells // */

.game__cell_wrap {
    display: inline-block;

    -webkit-filter: drop-shadow(0 0 10px var(--bg-color));
    filter: drop-shadow(0 0 10px var(--bg-color));
    transition: opacity ease .3s, filter ease .3s, background-color ease .3s;
    cursor: pointer;
}

@media (hover: hover) {
    .game__cell_wrap:hover,
    .game__cell_wrap-hover {
        -webkit-filter: drop-shadow(0 0 22px var(--bg-color));
        filter: drop-shadow(0 0 22px var(--bg-color));
    }

    .game__cell_wrap:hover .game__cell,
    .game__cell_wrap-hover .game__cell {
        background-color: var(--aqua-glitch);
    }
}

.game__cell_wrap-wrong .game__cell,
.game__cell_wrap-wrong:hover .game__cell {
    background-color: var(--logo-shadow);
}

.game__cell_wrap-right .game__cell,
.game__cell_wrap-right:hover .game__cell {
    background-color: var(--green-glitch);
}

.game__cell_wrap-hide .game__cell,
.game__cell_wrap-hide:hover .game__cell {
    opacity: .1;
}

.game__cell {
    display: inline-block;

    width: var(--cell-side);
    height: var(--cell-side);
    margin: var(--cell-margin);

    background-color: var(--violet-good);
    transition: background-color .2s ease;

    -webkit-clip-path: polygon(0% 0%, 12% 14%, 65% 14%, 76% 0, 100% 0%, 100% 83%, 83% 91%, 89% 100%, 0 100%, 0 73%, 11% 66%, 11% 41%, 0% 33%);
    clip-path: polygon(0% 0%, 12% 14%, 65% 14%, 76% 0, 100% 0%, 100% 83%, 83% 91%, 89% 100%, 0 100%, 0 73%, 11% 66%, 11% 41%, 0% 33%);
}

.game__cell-type1 {
    -webkit-clip-path: polygon(0 0, 65% 0%, 73% 12%, 100% 12%, 100% 100%, 1% 100%, 11% 91%, 11% 57%, 0% 47%);
    clip-path: polygon(0 0, 65% 0%, 73% 12%, 100% 12%, 100% 100%, 1% 100%, 11% 91%, 11% 57%, 0% 47%);
}

.game__cell-type2 {
    -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 17%, 100% 100%, 32% 100%, 25% 88%, 0% 88%);
    clip-path: polygon(0% 0%, 85% 0, 100% 17%, 100% 100%, 32% 100%, 25% 88%, 0% 88%);
}

.game__cell-type3 {
    -webkit-clip-path: polygon(0 14%, 53% 14%, 60% 0, 100% 0%, 100% 22%, 90% 28%, 90% 59%, 100% 64%, 100% 100%, 0 100%);
    clip-path: polygon(0 14%, 53% 14%, 60% 0, 100% 0%, 100% 22%, 90% 28%, 90% 59%, 100% 64%, 100% 100%, 0 100%);
}

.game__cell-type4 {
    -webkit-clip-path: polygon(0% 0%, 38% 0, 43% 12%, 100% 12%, 100% 100%, 39% 100%, 34% 87%, 0 87%, 0% 63%, 13% 57%, 13% 57%, 13% 10%);
    clip-path: polygon(0% 0%, 38% 0, 43% 12%, 100% 12%, 100% 100%, 39% 100%, 34% 87%, 0 87%, 0% 63%, 13% 57%, 13% 57%, 13% 10%);
}

/* // //  */

.title__typing {
    animation: animatedCursor 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--bg-color);
}

@keyframes animatedCursor {
    0%, 30%, 70%, 100% {
        border-right-color: var(--bg-color);
    }
    50% {
        border-right-color: transparent;
    }
}

/* // about section // */

.about {
    position: relative;

    color: var(--text-col);
    --about-glitch-col: var(--blue-bright);
}

.about .title__typing {
    animation: animatedCursorRed 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--logo-col);
}

@keyframes animatedCursorRed {
    0%, 30%, 70%, 100% {
        border-right-color: var(--logo-col);
    }
    50% {
        border-right-color: transparent;
    }
}

.about__wrap {
    width: 730px;
    margin: 0 auto;
    padding-bottom: 80px;

    font-size: var(--text-fz);
    line-height: var(--text-lh);
}

.about__highlight {
    font-weight: normal;
    color: var(--logo-col);
    text-shadow:
        0 0 1vw var(--logo-shadow),
        0 0 3vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 10vw var(--logo-shadow),
        0 0 .4vw var(--logo-col);
}

.about__link {
    position: relative;

    color: var(--violet-bright);
    text-shadow: 0 5px 10px var(--pink-glitch-dark);
}

.about__list {
    padding-left: 36px;
}

.about__item {
    padding: 0;
    margin: 0;
    list-style-type: katakana-iroha;
}

.about__text {
    margin: 0;
}

.glitch_hover_text {
    position: relative;
    z-index: 1;
}

.glitch_hover_text-pseudo {
    position: absolute;
    display: inline;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: translateZ(0);
}

.glitch_hover_text-highlight {
    font-weight: normal;
    transition: text-shadow .3s ease-out .15s;
}

.glitch_hover_text-before {
    color: #00ffff;

    z-index: -1;
}

.glitch_hover_text-after {
    color: #ff00ff;

    z-index: -2;
}

.section_to_animate-animated .glitch_hover_text-before,
.section_to_animate-animated .glitch_hover_text-after {
    opacity: 0;
}

.section_to_animate-animated .about__text .glitch_hover_text-before {
    animation: glitchyTextLong .28s step-start .1s, glitchyTextLong .5s step-start 1.8s;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    background-color: var(--about-glitch-col);
}

.section_to_animate-animated .about__text .glitch_hover_text-after {
    animation: glitchyTextLong .28s step-start reverse, glitchyTextLong .5s step-start 1.9s reverse;
    -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    background-color: var(--logo-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(1) .glitch_hover_text-before {
    animation: glitchyTextLong .28s step-start .3s, glitchyTextLong .28s step-start 1.3s;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    background-color: var(--about-glitch-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(1) .glitch_hover_text-after {
    animation: glitchyTextLong .28s step-start .27 reverse, glitchyTextLong .28s step-start 1.4s;
    -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    background-color: var(--logo-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(2) .glitch_hover_text-before {
    animation: glitchyTextLong .28s step-start .6s;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    background-color: var(--about-glitch-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(2) .glitch_hover_text-after {
    animation: glitchyTextLong .28s step-start .5s;
    -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    background-color: var(--logo-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(3) .glitch_hover_text-before {
    animation: glitchyTextLong .28s step-start 1.2s;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 51%, 0 49%, 0 20%, 100% 31%, 100% 10%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 51%, 0 49%, 0 20%, 100% 31%, 100% 10%);
    background-color: var(--about-glitch-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(3) .glitch_hover_text-after {
    animation: glitchyTextLong .28s step-start 1.1s reverse;
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
    clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
    background-color: var(--logo-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(4) .glitch_hover_text-before {
    animation: glitchyTextLong .28s step-start 1.5s;
    -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
    clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0 77%, 0 74%, 100% 72%, 100% 72%, 0 70%, 0 60%, 100% 59%, 100% 55%, 0 55%, 0 20%, 100% 31%, 100% 15%);
    background-color: var(--about-glitch-col);
}

.section_to_animate-animated .about__list .glitch_hover_text:nth-child(4) .glitch_hover_text-after {
    animation: glitchyTextLong .28s step-start 1.6s;
    -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    background-color: var(--logo-col);
}

@keyframes glitchyTextLong {
    0%   {
        opacity: 1;
        transform: translate(-10px, 10px) translateZ(0);
    }
    25%  {
        transform: translate(-5px, -7px) translateZ(0);
    }
    50%  {
        transform: translate(8px, 11px) translateZ(0);
    }
    75%  {
        transform: translate(3px, -2px) translateZ(0);
    }
    100%  {
        opacity: 1;
        transform: translate(-2px, 3px) translateZ(0);
    }
}

.about__question {
    color: var(--violet-bright);
    text-shadow:
        0 0 2px var(--pink-glitch-dark),
        0 0 10px var(--pink-glitch-dark);
}

@media (hover: hover) {
    .glitch_hover_text:hover .glitch_hover_text-highlight {
        text-shadow: 2px -2px 2px var(--logo-col);
    }

    .glitch_hover_text:hover .glitch_hover_text-before {
        animation: glitchyText .5s step-start .1s infinite;
    }

    .glitch_hover_text:hover .glitch_hover_text-after {
        animation: glitchyText .65s step-end infinite;
    }

    .glitch_hover_text-no_anim:hover .glitch_hover_text-before:hover {
        animation: glitchyTextLight .5s step-start .1s infinite;
    }

    .glitch_hover_text-no_anim:hover .glitch_hover_text-after:hover {
        animation: glitchyTextLight .6s step-end infinite;
    }

    @keyframes glitchyTextLight {
        0%, 50%   {
            transform: translateZ(0);
        }
        25%  {
            transform: translateZ(0) skew(.02deg, -.01deg);
        }
        75%  {
            transform: translate(.5px, -1px) skew(-.05deg, .01deg) translateZ(0);
        }
        100%  {
            transform: translate(-.5px, 1px) translateZ(0);
        }
    }

    .about__link::after,
    .about__link::before {
        position: absolute;
        content: attr(data-text);
        z-index: 1;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transform: translateZ(0);

        text-decoration: underline;
        opacity: 0;
    }

    .about__link:hover::before {
        animation: btnGlitch1 5s step-start infinite;
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    }

    .about__link:hover::after {
        animation: btnGlitch2 3s step-start infinite;
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    }
}

@keyframes glitchyText {
    0%, 50%   {
        transform: translateZ(0);
    }
    25%  {
        transform: translateZ(0) skew(.05deg, -.02deg);
    }
    75%  {
        transform: translate(1px, -2px) skew(-.1deg, .03deg) translateZ(0);
    }
    100%  {
        transform: translate(-1px, 2px) translateZ(0);
    }
}

/* // cases section // */

.cases {
    position: relative;
    display: flex;

    height: 100vh;
    --title-trf: translateY(-120px);

    justify-content: center;
    align-items: center;

    background-color: var(--blue-bright);

    color: var(--bg-color);

    transition: background-color ease .1s;
}

.cases-expanded {
    background-color: var(--bg-color);
}

.cases__title {
    padding-top: 0;
    padding-bottom: 80px;
}

.cases:not(.cases-expanded) .cases__title {
    --stroke-color: var(--bg-color);
    color: var(--blue);
    text-shadow:
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 5px var(--stroke-color),
        0 0 15px var(--stroke-color);
    -webkit-filter: none;
    filter: none;
}

.cases-expanded .title__typing {
    animation: animatedCursorPink 1.5s steps(29,end) infinite;
    border-right: solid 6px var(--cases-exp-col);
}

@keyframes animatedCursorPink {
    0%, 30%, 70%, 100% {
        border-right-color: var(--cases-exp-col);
    }
    50% {
        border-right-color: transparent;
    }
}

.cases-expanded .cases__title {
    --color1: var(--cases-exp-col);
    --color2: var(--cases-exp-col);
    --color3: var(--cases-exp-col);
    --color4: #fff;
    color: var(--cases-exp-col);

    transform: var(--title-trf);
    animation: casesTitleMove ease 1.5s;
}

@keyframes casesTitleMove {
    0%, 40% {
        opacity: 0;
        transform: var(--title-trf);
        text-shadow:
            0 0 10px var(--color1),
            0 0 20px var(--color2),
            0 0 40px var(--color3);
    }
    60%, 80%, 95% {
        opacity: 1;
        text-shadow:
            0 0 10px var(--color1),
            0 0 30px var(--color2),
            0 0 60px var(--color3),
            0 0 80px var(--color3);
        -webkit-filter: none;
        filter: none;
    }
    70%, 90%, 100% {
        text-shadow:
            0 0 10px var(--color1),
            0 0 20px var(--color2),
            0 0 40px var(--color3);
        -webkit-filter: saturate(60%);
        filter: saturate(60%);
    }
}

.cases-expanded .skewed {
    opacity: 0;
    animation: skewedDisAppear .15s ease;
}

@keyframes skewedDisAppear {
    0%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* // plans section // */

.plans {
    --logo-col: #86e5ef;
    --logo-shadow: var(--blue-bright);
    --about-glitch-col: #FED128;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.plans__title {
    padding-top: 50px;
}

.plans__text_wrap {
    padding-bottom: 50px;
}

/* // finale section // */

.finale {
    position: relative;

    padding-top: var(--skew-height-1);
    height: var(--skew-height-1);

    color: var(--bg-color);
    font-size: var(--text-fz);

    overflow: hidden;
}

.finale__wrap {
    position: relative;

    height: calc(var(--skew-height-1) * 2);
}

.finale__skewed {
    height: calc(var(--skew-height-1) * 2);
    top: 0;
    padding: 20px 40px;

    box-sizing: border-box;
}

.finale__link {
    position: relative;

    color: var(--bg-color);
}

@media (hover: hover) {
    .finale__link::after,
    .finale__link::before {
        position: absolute;
        content: attr(data-text);
        z-index: 1;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transform: translateZ(0);

        text-decoration: underline;
        opacity: 0;
        background-color: var(--logo-col);
    }

    .finale__link-blue::before,
    .finale__link-blue::after {
        background-color: var(--blue-bright);
    }

    .finale__link:hover::before {
        animation: btnGlitch1 5s step-start infinite;
        -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
        clip-path: polygon(0 0%, 100% 0%, 100% 89%, 0 89%, 0 71%, 100% 72%, 100% 28%, 0 28%);
    }

    .finale__link:hover::after {
        animation: btnGlitch2 4s step-start infinite;
        -webkit-clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
        clip-path: polygon(0% 5%, 100% 7%, 100% 95%, 0% 97%, 0% 80%, 100% 80%, 100% 65%, 0% 63%, 0% 32%, 100% 34%, 100% 20%, 0% 16%);
    }

    @keyframes btnGlitch1 {
        0%,
        5%,
        8%,
        16%,
        22%,
        30%,
        50%,
        58%,
        70%,
        78%,
        100% {
            opacity: 0;
        }
        0.5%,
        4.5%,
        9%,
        15%,
        23%,
        29%,
        51%,
        57%,
        71%,
        77% {
            opacity: 1;
            transform: none;
        }
        1%,
        4% {
            transform: translate3d(5px, -1px, 0);
        }
        11%,
        13%,
        53%,
        55% {
            transform: translate3d(9px, -2px, 0);
        }
        25%,
        27%,
        73%,
        75% {
            transform: translate3d(-12px, 1px, 0);
        }
    }

    @keyframes btnGlitch2 {
        0%,
        5%,
        8%,
        16%,
        22%,
        30%,
        50%,
        58%,
        70%,
        78%,
        100% {
            opacity: 0;
        }
        0.5%,
        4.5%,
        9%,
        15%,
        23%,
        29%,
        51%,
        57%,
        71%,
        77% {
            opacity: 1;
            transform: none;
        }
        1%,
        4% {
            transform: translate3d(4px, -2px, 0);
        }
        11%,
        13%,
        53%,
        55% {
            transform: translate3d(7px, -2px, 0);
        }
        25%,
        27%,
        73%,
        75% {
            transform: translate3d(-12px, 2px, 0);
        }
    }
}

.finale__skewed-first {
    background-color: var(--blue-bright);

    transform: skewY(4deg) translateX(-200%) translateZ(0);
}

.finale__skewed-second {
    background-color: var(--logo-col);

    transform: skewY(-4deg) translateX(200%) translateZ(0);
    transform-origin: top left;
}

.section_to_animate-animated .finale__skewed-first {
    animation: finaleApearLeft 1s ease;
    transform: skewY(4deg);
}

.section_to_animate-animated .finale__skewed-second {
    animation: finaleApearRight .5s ease;
    transform: skewY(-4deg);
}

@keyframes finaleApearLeft {
    0%, 50% {
        transform: skewY(4deg) translateX(-200%) translateZ(0);
    }
    100% {
        transform: skewY(4deg);
    }
}

@keyframes finaleApearRight {
    0% {
        transform: skewY(-4deg) translateX(200%) translateZ(0);
    }
    100% {
        transform: skewY(-4deg);
    }
}

.finale__skewed-second::before,
.finale__skewed-first::after {
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;

    background-color: inherit;
}

.finale__skewed-second::before {
    left: -100%;
    right: 99%;

    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(254,209,40,1) 100%);
}

.finale__skewed-first::after {
    right: -100%;
    left: 99%;

    background: linear-gradient(90deg, rgba(95,230,228,1) 0%, rgba(19,19,19,1) 100%);
}

/* // MEDIA QUERIES // */

@media screen and (min-width: 1920px) {
    body {
        width: 100%;
        max-width: 1920px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-height: 869px) and (min-width: 1024px) {
    /* // laptop 1 // */
    :root {
        --title-fz: 50px;
        --title-fz-sec: 28px;
        --text-fz: 20px;
        --text-lh: 32px;

        --game-width: 700px;
        --cell-side: 80px;
        --cell-margin: 20px;
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .about__wrap {
        width: 580px;
    }

    .logo_wrap {
        transform: none;
    }

    .about__list {
        padding-left: 32px;
    }

    .plans {
        height: auto;
    }

    .plans__title {
        padding: calc(var(--skew-height-1) - 20px) 0 50px;
    }

    .plans__text_wrap {
        padding-bottom: 80px;
    }

    .cases {
        --title-trf: none;
    }
}

@media screen and (max-height: 670px) and (min-width: 1024px) {
    /* // laptop 2 // */
    :root {
        --title-fz: 46px;
        --title-fz-sec: 24px;
        --text-fz: 16px;
        --text-lh: 27px;

        --game-width: 500px;
        --cell-side: 60px;
        --cell-margin: 16px;
    }

    .logo_wrap {
        transform: scale(.77);
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .about__wrap {
        width: 450px;
    }

    .title {
        padding-bottom: 30px;
    }

    .game,
    .logo_section {
        min-height: 550px;
    }

    .game__title {
        padding: 14px;
    }

    .finale__skewed {
        padding: 10px 15px;

        font-size: 16px;
    }

    .cases {
        --title-trf: translateY(-40px) translateZ(0);
    }
}

@media screen and (max-width: 1024px) {
    /* // tablets // */
    :root {
        --title-fz: 50px;
        --title-fz-sec: 28px;
        --text-fz: 18px;

        --game-width: 700px;
        --cell-side: 80px;
        --cell-margin: 20px;
    }

    .logo_wrap {
        transform: none;
        animation: logoAppear 1s ease;
    }

    .game__field {
        margin: 40px auto 100px;
    }

    .about__wrap {
        width: 100%;
        padding: 0 40px 30px;
        max-width: 660px;

        box-sizing: border-box;
    }

    .finale__skewed {
        padding: 10px 20px;

        font-size: 16px;
    }

    .no_tablet {
        display: none;
    }

    .cases {
        --title-trf: none;
    }
}

@media screen and (max-width: 767px) {
    /* // phones 1 // */
    :root {
        --title-fz: 28px;
        --title-fz-sec: 20px;

        --game-width: 100%;
        --cell-side: 60px;
        --cell-margin: 20px;
    }

    .logo_section {
        display: block;
    }

    .logo_wrap {
        transform: scale(0.5) translate(-50%, -50%) translateZ(0);
        transform-origin: left top;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .title {
        padding-bottom: 30px;
    }

    .game__title {
        padding: 14px;

        text-shadow: 0 0 25px red, 0 0 5px var(--violet-good), 1px 1px 1px red;
    }

    .game__field {
        margin: 30px auto 10px;
        max-width: 400px;
    }

    .about {
        padding-top: 50px;
    }

    .about__wrap {
        padding: 0 20px 20px;
    }

    .about__list {
        padding-left: 30px;
    }

    .plans {
        display: block;
        height: auto;
    }

    .plans__title {
        padding: calc(var(--skew-height-1) - 20px) 0 30px;
    }

    .no_mobile {
        display: none;
    }

    .finale__skewed {
        padding: 5px 10px;

        text-align: right;
        font-size: 14px;
    }

    .finale__skewed-first {
        text-align: left;
    }
}

@media screen and (max-width: 340px) {
    /* // phones 2 // */
    :root {
        --title-fz: 24px;
        --title-fz-sec: 18px;
        --text-fz: 16px;
        --text-lh: 30px;

        --cell-side: 50px;
        --cell-margin: 16px;
    }

    .logo_wrap {
        transform: scale(0.4) translate(-50%, -50%) translateZ(0);
    }

    .title {
        padding-bottom: 24px;
    }

    .game__title {
        padding: 10px;
    }

    .game__field {
        max-width: 340px;
    }

    .finale__skewed {
        padding: 5px;
    }
}

@media screen and (max-height: 500px) and (max-width: 1024px) {
    /* // phones album //  */
    :root {
        --title-fz: 24px;
        --title-fz-sec: 18px;
        --text-fz: 16px;
        --text-lh: 30px;

        --cell-side: 50px;
        --cell-margin: 18px;
    }

    .logo_wrap {
        transform: scale(.5) translate3d(-50%, -50%, 0);
        transform-origin: left top;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .game {
        min-height: 550px;
    }

    .game__field {
        max-width: 500px;
        margin-bottom: 60px;
    }

    .plans {
        height: auto;
    }

    .cases__title {
        padding-bottom: 10px;
    }
}
